<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <title>View Record</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="{% static 'user/img/favicon.ico' %}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Open+Sans:wght@400;500&display=swap" rel="stylesheet">  

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'user/lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'user/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'user/lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'user/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'user/css/style.css' %}" rel="stylesheet">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <style>
      {% comment %} .my-custom-scrollbar {
        position: relative;
        height: 300px;
        overflow: auto;
        }
        .table-wrapper-scroll-y {
        display: block;
        } {% endcomment %}
    </style>

    <script>
        function validation(){
            fileName = document.myform.name;
            file = document.myform.file;
            desc = document.myform.desc;
            //extenction = '/.pdf,.doc/' 

            if (fileName.value.length <=0){
                alert('Enter file name')
                fileName.focus()
                return false
            }

            if (file.value.length <=0){
                alert('Enter file name')
                fileName.focus()
                return false
            }

            if (desc.value.length <=0){
                alert('Enter file name')
                fileName.focus()
                return false
            }
            
        }
    </script>
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;"></div>
    </div>
    <!-- Spinner End -->


    <!-- Topbar Start -->
    <div class="container-fluid bg-dark text-light px-0 py-2">
        <div class="row gx-0 d-none d-lg-flex">
            <div class="col-lg-7 px-5 text-start">
                <div class="h-100 d-inline-flex align-items-center me-4">
                    <span class="fa fa-phone-alt me-2"></span>
                    <span>+012 345 6789</span>
                </div>
                <div class="h-100 d-inline-flex align-items-center">
                    <span class="far fa-envelope me-2"></span>
                    <span>info@example.com</span>
                </div>
            </div>
            <div class="col-lg-5 px-5 text-end">
                <div class="h-100 d-inline-flex align-items-center mx-n2">
                    <span>Follow Us:</span>
                    <a class="btn btn-link text-light" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-link text-light" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-link text-light" href=""><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-link text-light" href=""><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0">
        <a href="{% url 'dashbord' %}" class="navbar-brand d-flex align-items-center px-3 px-lg-4">
            <h1 class="m-0">Defence</h1>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-2 p-lg-0">
                <a href="{% url 'dashbord' %}" class="nav-item nav-link ">Home</a>
                <a href="{% url 'conf-data' %}" class="nav-item nav-link">Confidential Data</a>
                <a href="{% url 'record' %}" class="nav-item nav-link">Request Record</a>
                <a href="{% url 'approved-record' %}" class="nav-item nav-link active">Approved Record Request</a>
                <a href="{% url 'received_files' %}" class="nav-item nav-link">Received Files</a>
                <a href="{% url 'profile' %}" class="nav-item nav-link">Profile</a>
               
                <a href="{% url 'logout' %}" class="nav-item nav-link">Logout</a>
           
    </nav>
    <!-- Navbar End -->


   
   
    <!-- Page Header End -->
    <div class="container-fluid">
        <div class="row justify-content-ceter">
            <div class="col-lg-7  table-wrapper-scroll-y my-custom-scrollbar">
                <table class="table align-middle mb-5 bg-white mt-4 table-bordered table-striped">
                    <thead class="bg-light thead thead-fixed">
                      <tr>
                       
                        
                        <th  class='text-center'>Qr code  request time {{i.request_time}}</th>
                       
                        {% comment %} <th>Department</th>
                        <th>Title</th>
                        <th>Description</th> {% endcomment %}
                        
                      </tr>
                    </thead>
                    <tbody>
                      
                       
                        <tr>
                            <td class='text-center'><img src="/media/{{i.qr_code}}" class="" width="350px" height="350px">
                            {% comment %} <td>{{i.department}}</td>
                            <td>{{i.request_title}}
                            </td> {% endcomment %}
                             {% comment %} <td>
                              
                               <p class="text-muted mb-0">{{i.description}}</p> 
                            </td>  {% endcomment %}
                            {% comment %} <td>
                                <!-- <p class="fw-normal mb-1">xxxx</p> -->
                                <p class="text-muted mb-0">{{i.sender_id.empDepartment}}</p>
                            </td>
                              {% endcomment %}
                        </tr>
                             
                    </tbody>
                  </table>
                 
                  </div>
                  
                    
                <div class="col-sm-5">
                    <div class="card" >
                       <h3 class=" mx-auto" >Requested files</h3>
                        <div class="card-body" width="200px" height="200px">
                            <form class="" method='post' name='myform' enctype='multipart/form-data' onsubmit='return validation()'>
                                {% csrf_token %}
                                {% if messages %}              
                                {% for message in messages %}
                                   {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                                             <script>swal({
                                               title: "Warning!",
                                               text: "{{message}}",
                                               icon: "warning",
                                               button: "OK",
                                             });
                                           </script>
                                        
                                         {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                                             <script>swal({
                                               title: "Info :)",
                                               text: "{{message}}",
                                               icon: "info",
                                               button: "OK",
                                             });
                                   </script>
                                   {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                   <script>swal({
                                     title: "Error :)",
                                     text: "{{message}}",
                                     icon: "eroor",
                                     button: "OK",
                                   });
                                   </script>
                                   {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                   <script>swal({
                                   title: "Success :)",
                                   text: "{{message}}",
                                   icon: "success",
                                   button: "OK",
                                   });
                                   </script>
                                         {% endif %}              
                                       {% endfor %} 
                                   {% endif %}
                              <div class="form-outline mb-4">
                                <label class="form-label" for="form3Example1q">Name of the File</label>
                                <input type="text" id="form3Example1q" name='name' class="form-control"  />
                               
                              </div>
                               <div class="form-outline mb-4">
                                  <label class="form-label" for="form3Example1q">File</label>
                                  <input type="file" id="form3Example1q" accept='.pdf, .doc, .csv, .xml, application/msword' name='file' class="form-control" multiple />
                                 
                                </div> 
                                {% comment %} {% for i in rece %} {% endcomment %}
                                <div class="form-outline mb-4" hidden>
                                    <label class="form-label" for="form3Example1q">user id</label>
                                    <input type="text" id="form3Example1q" name='id' value="{{i.sender_id.staff_id}}" class="form-control" />
                                   
                                  </div> 
                                {% comment %} {% endfor %} {% endcomment %}
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example1q">Description</label>
                                    <textarea type="text" id="form3Example1q" name='desc' class="form-control"></textarea>
                                   
                                  </div> 
                    
                                <button type="submit" class="btn btn-success btn-lg mb-3">Send Record</button>
                            </form>
                        </div>
                    </div>
                </div>
                    </div>
                </div>
            </div>

           
        </div>
    </div>

   
    
    

    


    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer mt-5 py-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-6 col-md-6">
                    <h4 class="text-white mb-4">Our Office</h4>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>123 Street, New York, USA</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+91 8555887986</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@example.com</p>
                  
                </div>
               
                <div class="col-lg-6 col-md-6">
                    
                    <a class="btn btn-link" href="{% url 'dashbord' %}">Home</a>
                    <a class="btn btn-link" href="{% url 'conf-data' %}">Confidential Data</a>
                    <a class="btn btn-link" href="{% url 'record' %}">Request Record</a>
                    <a class="btn btn-link" href="{% url 'approved-record' %}">Aproved Request Record</a>
                    <a class="btn btn-link" href="{% url 'received_files' %}">Received Files</a>
                    <a class="btn btn-link" href="{% url 'profile' %}">Profile</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Copyright Start -->
    <div class="container-fluid copyright py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="#">Codebook.in</a>, All Right Reserved.
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                    Designed & Developed by <a class="border-bottom" href="https://Codebook.com">Codebook</a><a href="https://themewagon.com"></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'user/lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'user/lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'user/lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'user/lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'user/lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'user/lib/parallax/parallax.min.js' %}"></script>
    <script src="{% static 'user/lib/isotope/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'user/lib/lightbox/js/lightbox.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'user/js/main.js' %}"></script>
</body>

</html>